{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Channel 4 API",
    "x-logo": {
      "url": "http://www.channel4.com/static/programmes/images/c4-atom-logo.gif",
      "backgroundColor": "#FFFFFF"
    },
    "x-apiClientRegistration": {
      "url": "http://developer.channel4.com/apps/register"
    },
    "description": "This is the place to come for all the technical details you need to power your applications with Channel 4's deep programmes data.",
    "termsOfService": "http://developer.channel4.com/page/read/API_Terms_of_Use",
    "contact": {
      "name": "Open C4 Project",
      "email": "developer@channel4.co.uk",
      "url": "http://developer.channel4.com/"
    },
    "license": {
      "name": "Channel 4 API license",
      "url": "http://developer.channel4.com/page/read/API_Terms_of_Use"
    }
  },
  "externalDocs": {
    "description": "Programmes API Guide",
    "url": "http://developer.channel4.com/docs/read/ProgrammesAPIGuide"
  },
  "host": "api.channel4.com",
  "basePath": "/pmlsd",
  "tags": [
    {
      "name": "discoveryresources",
      "description": "Channel 4 data feeds"
    },
    {
      "name": "metadataresources",
      "description": "Channel 4 metadata"
    }
  ],
  "schemes": [
    "http",
    "https"
  ],
  "consumes": [
    "application/xml"
  ],
  "produces": [
    "application/xml"
  ],
  "parameters": {
    "platform": {
      "name": "platform",
      "type": "string",
      "in": "query",
      "enum": [
        "c4",
        "ps3",
        "yv",
        "ios",
        "p06",
        "flashmobile",
        "freesat",
        "android",
        "samsung"
      ]
    }
  },
  "paths": {
    "/4od/episode-list/date/{yyyy}/{mm}/{dd}.atom": {
      "get": {
        "description": "Information of daily broadcast content available on 4oD, according to \n  broadcast date\n\n  http://api.channel4.com/pmlsd/4od/episode-list/date/[yyyy]/[mm]/[dd].atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/4od/episode-list/date/2010/11/28.atom?xxxxxxxxxxxxxxxxxxxxxxxx",
        "summary": "4oD Browse by Date Feed",
        "tags": [
          "discoveryresources"
        ],
        "operationId": "4oD_Browse_by_Date_Feed",
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Browse_by_Date_Feed",
        "produces": [],
        "parameters": [
          {
            "$ref": "#/parameters/platform"
          },
          {
            "name": "yyyy",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "mm",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "dd",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/atom"
            }
          }
        }
      }
    },
    "/4od/episode-list/popular.atom": {
      "get": {
        "description": "Information of the most popular content available on 4oD, according to user \n  data driven.\n\n  http://api.channel4.com/pmlsd/4od/episode-list/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/4od/episode-list/popular.atom?xxxxxxxxxxxxxxxxxxxxxxxx",
        "summary": "4oD Most Popular Episodes Feed",
        "tags": [
          "discoveryresources"
        ],
        "operationId": "4oD_Most_Popular_Episodes_Feed",
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Most_Popular_Episodes_Feed",
        "produces": [],
        "parameters": [
          {
            "$ref": "#/parameters/platform"
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/atom"
            }
          }
        }
      }
    },
    "/4od/recently-added/videos.atom": {
      "get": {
        "description": "A feed containing metadata about short-form content relating to 4oD Episodes \n  recently added to 4oD based on linear transmission. The entries for the \n  Clips Landing Feed contain references to each short-form asset. It will \n  return up to 20 entries.\n\n  http://api.channel4.com/pmlsd/4od/recently-added/videos.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/4od/episode-list/videos.atom?xxxxxxxxxxxxxxxxxxxxxxxx",
        "summary": "4oD Clips Catch Up Feed",
        "tags": [
          "discoveryresources"
        ],
        "operationId": "4oD_Clips_Catch_Up_Feed",
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Clips_Catch_Up_Feed",
        "produces": [],
        "parameters": [
          {
            "$ref": "#/parameters/platform"
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/atom"
            }
          }
        }
      }
    },
    "/{brand-web-safe-title}/4od.atom": {
      "get": {
        "description": "A feed containing all available on-demand long-form content for a specified \n  brand. The entries for the 4oD feed contain references to each long-form \n  asset for a brand, ordered by series number and episode number.\n\n  http://api.channel4.com/pmlsd/[brand-web-safe-title]/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/the-it-crowd/4od.atom?xxxxxxxxxxxxxxxxxxxxxxxx",
        "summary": "4oD Feed",
        "tags": [
          "metadataresources"
        ],
        "operationId": "4oD_Feed",
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/metadataresources/4oD_Feed",
        "produces": [],
        "parameters": [
          {
            "$ref": "#/parameters/platform"
          },
          {
            "name": "brand-web-safe-title",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/atom"
            }
          }
        }
      }
    },
    "/atoz.atom": {
      "get": {
        "description": "Lists Channel 4 programmes alphabetically from A to Z, providing the same \n  functionality and information as is available in the A to Z section of the \n  Channel 4 Programmes page, http://www.channel4.com/programmes.\n\n  http://api.channel4.com/pmlsd/atoz.atom\n\n  http://api.channel4.com/pmlsd/atoz.atom?xxxxxxxxxxxxxxxxxxxxxxxx",
        "summary": "A to Z Landing Feed",
        "tags": [
          "discoveryresources"
        ],
        "operationId": "A_to_Z_Landing_Feed",
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/DiscoveryResources/A_to_Z_Landing_Feed",
        "produces": [],
        "parameters": [
          {
            "$ref": "#/parameters/platform"
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/atom"
            }
          }
        }
      }
    },
    "/atoz/{start_letter}.atom": {
      "get": {
        "description": "Lists Channel 4 programmes whose names begin with the associated letter.\n\n  http://api.channel4.com/pmlsd/atoz/start_letter.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/atoz/a.atom?xxxxxxxxxxxxxxxxxxxxxxxx",
        "summary": "A to Z Letter Feed",
        "tags": [
          "discoveryresources"
        ],
        "operationId": "A_to_Z_Letter_Feed",
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/DiscoveryResources/A_to_Z_Letter_Feed",
        "produces": [],
        "parameters": [
          {
            "$ref": "#/parameters/platform"
          },
          {
            "name": "start_letter",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/atom"
            }
          }
        }
      }
    },
    "/atoz/{start_letter}/page-{pageno}.atom": {
      "get": {
        "description": "Lists Channel 4 programmes whose names begin with the associated letter.\n\n  http://api.channel4.com/pmlsd/atoz/start_letter/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/atoz/a.atom?xxxxxxxxxxxxxxxxxxxxxxxx",
        "summary": "A to Z Letter Feed(2)",
        "tags": [
          "discoveryresources"
        ],
        "operationId": "A_to_Z_Letter_Feed(2)",
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/DiscoveryResources/A_to_Z_Letter_Feed",
        "produces": [],
        "parameters": [
          {
            "$ref": "#/parameters/platform"
          },
          {
            "name": "start_letter",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "pageno",
            "type": "integer",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/atom"
            }
          }
        }
      }
    },
    "/{brand-web-safe-title}.atom": {
      "get": {
        "description": "The basis for all brand information\n\n  http://api.channel4.com/pmlsd/brand-web-safe-title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/the-it-crowd.atom?xxxxxxxxxxxxxxxxxxxxxxxx",
        "summary": "Hub Feed",
        "tags": [
          "metadataresources"
        ],
        "operationId": "Hub_Feed",
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/metadataresources/Hub_Feed",
        "produces": [],
        "parameters": [
          {
            "$ref": "#/parameters/platform"
          },
          {
            "name": "brand-web-safe-title",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/atom"
            }
          }
        }
      }
    },
    "/{brand-web-safe-title}/epg.atom": {
      "get": {
        "description": "This feed contains metadata about upcoming electronic programme guide (EPG) \n  information for a brand. The entry details upcoming transmission slots for \n  this brand.\n\n  http://api.channel4.com/pmlsd/brand-web-safe-title/epg.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/the-simpsons/epg.atom?xxxxxxxxxxxxxxxxxxxxxxxx",
        "summary": "Brand EPG Atom Feed",
        "tags": [
          "metadataresources"
        ],
        "operationId": "Brand_EPG_Atom_Feed",
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/metadataresources/Brand_EPG_Atom_Feed",
        "produces": [],
        "parameters": [
          {
            "$ref": "#/parameters/platform"
          },
          {
            "name": "brand-web-safe-title",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/atom"
            }
          }
        }
      }
    },
    "/{brand-web-safe-title}/episode-guide.atom": {
      "get": {
        "description": "A feed containing metadata about all series for a specified brand. The \n  entries in this feed contain references to each of the series (where \n  metadata has been published), with some convenient links.\n\n  http://api.channel4.com/pmlsd/brand-web-safe-title/episode-guide.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/father-ted/episode-guide.atom?xxxxxxxxxxxxxxxxxxxxxxxx",
        "summary": "Episode Guide Feed Series Landing",
        "tags": [
          "metadataresources"
        ],
        "operationId": "Episode_Guide_Feed_Series_Landing",
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/metadataresources/Episode_Guide_Feed_Series_Landing",
        "produces": [],
        "parameters": [
          {
            "$ref": "#/parameters/platform"
          },
          {
            "name": "brand-web-safe-title",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/atom"
            }
          }
        }
      }
    },
    "/{brand-web-safe-title}/episode-guide/series-{series_number}.atom": {
      "get": {
        "description": "A feed containing metadata about all the episodes for a specific series. The \n  entries in this feed contain references to each of the episodes (where \n  metadata has been published), with some convenient links.\n\n  http://api.channel4.com/pmlsd/brand-web-safe-title/episode-guide/series-series_number.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/chelmsford-123/episode-guide/series-1.atom?xxxxxxxxxxxxxxxxxxxxxxxx",
        "summary": "Episode Guide Feed Series Detail",
        "tags": [
          "metadataresources"
        ],
        "operationId": "Episode_Guide_Feed_Series_Detail",
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/metadataresources/Episode_Guide_Feed_Series_Detail",
        "produces": [],
        "parameters": [
          {
            "$ref": "#/parameters/platform"
          },
          {
            "name": "brand-web-safe-title",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "series_number",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/atom"
            }
          }
        }
      }
    },
    "/{brand-web-safe-title}/episode-guide/series-{series_number}/episode-{episode_number}.atom": {
      "get": {
        "description": "A feed containing metadata about a specified episode. (This feed does not \n  contain any entries and only contains a feed element regarding this \n  episode.)\n\n  http://api.channel4.com/pmlsd/brand-web-safe-title/episode-guide/series-series_number/episode-episode_number.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/the-it-crowd/episode-guide/series-1/episode-1.atom?xxxxxxxxxxxxxxxxxxxxxxxx",
        "summary": "Episode Guide Feed Episode Detail",
        "tags": [
          "metadataresources"
        ],
        "operationId": "Episode_Guide_Feed_Episode_Detail",
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/metadataresources/Episode_Guide_Feed_Episode_Detail",
        "produces": [],
        "parameters": [
          {
            "$ref": "#/parameters/platform"
          },
          {
            "name": "brand-web-safe-title",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "series_number",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "episode_number",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/atom"
            }
          }
        }
      }
    },
    "/{brand-web-safe-title}/videos/all.atom": {
      "get": {
        "description": "A feed containing metadata about all the short-form (clip) videos. The clips \n  feed can be accessed at different levels: the content is then filtered \n  depending on the level, but the structure is identical.When accessed: from \n  the top, the feed contains all the clips for the brand;  at series level, \n  the feed contains only clips from the series; and  at episode level, the \n  feed contains only clips for the episode (and is very unlikely to require \n  pagination). The entries for the Clips Landing Feed contain references to \n  each short-form asset.\n\n  http://api.channel4.com/pmlsd/brand-web-safe-title/videos/all.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/peep-show/videos.atom?xxxxxxxxxxxxxxxxxxxxxxxx",
        "summary": "Clips Landing Feed Brand Series and Episode Levels",
        "tags": [
          "metadataresources"
        ],
        "operationId": "Clips_Landing_Feed_Brand_Series_and_Episode_Levels",
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/metadataresources/Clips_Landing_Feed_Brand_Series_and_Episode_Levels",
        "produces": [],
        "parameters": [
          {
            "$ref": "#/parameters/platform"
          },
          {
            "name": "brand-web-safe-title",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/atom"
            }
          }
        }
      }
    },
    "/{brand-web-safe-title}/videos/series-{SERIES_SEQUENCE_NUMBER}.atom": {
      "get": {
        "description": "A feed containing metadata about all the short-form (clip) videos. The clips \n  feed can be accessed at different levels: the content is then filtered \n  depending on the level, but the structure is identical.When accessed: from \n  the top, the feed contains all the clips for the brand;  at series level, \n  the feed contains only clips from the series; and  at episode level, the \n  feed contains only clips for the episode (and is very unlikely to require \n  pagination). The entries for the Clips Landing Feed contain references to \n  each short-form asset.\n\n  http://api.channel4.com/pmlsd/brand-web-safe-title/videos/series-SERIES_SEQUENCE_NUMBER.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/peep-show/videos.atom?xxxxxxxxxxxxxxxxxxxxxxxx",
        "summary": "Clips Landing Feed Brand Series and Episode Levels(2)",
        "tags": [
          "metadataresources"
        ],
        "operationId": "Clips_Landing_Feed_Brand_Series_and_Episode_Levels(2)",
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/metadataresources/Clips_Landing_Feed_Brand_Series_and_Episode_Levels",
        "produces": [],
        "parameters": [
          {
            "$ref": "#/parameters/platform"
          },
          {
            "name": "brand-web-safe-title",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "SERIES_SEQUENCE_NUMBER",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/atom"
            }
          }
        }
      }
    },
    "/{brand-web-safe-title}/videos/series-{SERIES_SEQUENCE_NUMBER}/episode-{EPISODE_SEQUENCE_NUMBER}.atom": {
      "get": {
        "description": "A feed containing metadata about all the short-form (clip) videos. The clips \n  feed can be accessed at different levels: the content is then filtered \n  depending on the level, but the structure is identical.When accessed: from \n  the top, the feed contains all the clips for the brand;  at series level, \n  the feed contains only clips from the series; and  at episode level, the \n  feed contains only clips for the episode (and is very unlikely to require \n  pagination). The entries for the Clips Landing Feed contain references to \n  each short-form asset.\n\n  http://api.channel4.com/pmlsd/brand-web-safe-title/videos/series-SERIES_SEQUENCE_NUMBER/episode-EPISODE_SEQUENCE_NUMBER.atom?apikey=xxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/peep-show/videos.atom?xxxxxxxxxxxxxxxxxxxxxxxx",
        "summary": "Clips Landing Feed Brand Series and Episode Levels(3)",
        "tags": [
          "metadataresources"
        ],
        "operationId": "Clips_Landing_Feed_Brand_Series_and_Episode_Levels(3)",
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/metadataresources/Clips_Landing_Feed_Brand_Series_and_Episode_Levels",
        "produces": [],
        "parameters": [
          {
            "$ref": "#/parameters/platform"
          },
          {
            "name": "brand-web-safe-title",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "SERIES_SEQUENCE_NUMBER",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "EPISODE_SEQUENCE_NUMBER",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/atom"
            }
          }
        }
      }
    },
    "/{brand-web-safe-title}/videos/{clip-asset-id}.atom": {
      "get": {
        "description": "A feed containing metadata about a single short-form video (clip).\n\n  http://api.channel4.com/pmlsd/brand-web-safe-title/videos/clip-asset-id.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/the-it-crowd/videos/TCGS_CLIP_0000001015.atom?xxxxxxxxxxxxxxxxxxxxxxxx",
        "summary": "Clip Detail Atom Feed",
        "tags": [
          "metadataresources"
        ],
        "operationId": "Clip_Detail_Atom_Feed",
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/metadataresources/Clip_Detail_Atom_Feed",
        "produces": [],
        "parameters": [
          {
            "$ref": "#/parameters/platform"
          },
          {
            "name": "brand-web-safe-title",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "clip-asset-id",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/atom"
            }
          }
        }
      }
    },
    "/brands/4od.atom": {
      "get": {
        "description": "Lists all Channel 4 programmes available on 4oD.  By default, the programmes \n  are listed by title in alphabetical order (case unsensitive).\n\n  http://api.channel4.com/pmlsd/brands/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/brands/4od.atom?xxxxxxxxxxxxxxxxxxxxxxxx",
        "summary": "4oD Title All Brands Feed",
        "tags": [
          "discoveryresources"
        ],
        "operationId": "4oD_Title_All_Brands_Feed",
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Title_All_Brands_Feed",
        "produces": [],
        "parameters": [
          {
            "$ref": "#/parameters/platform"
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/atom"
            }
          }
        }
      }
    },
    "/brands/4od/page-{pageno}.atom": {
      "get": {
        "description": "Lists all Channel 4 programmes available on 4oD.  By default, the programmes \n  are listed by title in alphabetical order (case unsensitive).\n\n  http://api.channel4.com/pmlsd/brands/4od/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/brands/4od.atom?xxxxxxxxxxxxxxxxxxxxxxxx",
        "summary": "4oD Title All Brands Feed(2)",
        "tags": [
          "discoveryresources"
        ],
        "operationId": "4oD_Title_All_Brands_Feed(2)",
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Title_All_Brands_Feed",
        "produces": [],
        "parameters": [
          {
            "$ref": "#/parameters/platform"
          },
          {
            "name": "pageno",
            "type": "integer",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/atom"
            }
          }
        }
      }
    },
    "/brands/4od/popular.atom": {
      "get": {
        "description": "Lists all Channel 4 programmes available on 4oD by popularity considering \n  the data gathered within the last 7 days.\n\n  http://api.channel4.com/pmlsd/brands/4od/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/brands/4od/popular.atom?xxxxxxxxxxxxxxxxxxxxxxxx",
        "summary": "4oD Popular All Brands Feed",
        "tags": [
          "discoveryresources"
        ],
        "operationId": "4oD_Popular_All_Brands_Feed",
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Popular_All_Brands_Feed",
        "produces": [],
        "parameters": [
          {
            "$ref": "#/parameters/platform"
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/atom"
            }
          }
        }
      }
    },
    "/brands/4od/popular/page-{pageno}.atom": {
      "get": {
        "description": "Lists all Channel 4 programmes available on 4oD by popularity considering \n  the data gathered within the last 7 days.\n\n  http://api.channel4.com/pmlsd/brands/4od/popular/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/brands/4od/popular.atom?xxxxxxxxxxxxxxxxxxxxxxxx",
        "summary": "4oD Popular All Brands Feed(2)",
        "tags": [
          "discoveryresources"
        ],
        "operationId": "4oD_Popular_All_Brands_Feed(2)",
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Popular_All_Brands_Feed",
        "produces": [],
        "parameters": [
          {
            "$ref": "#/parameters/platform"
          },
          {
            "name": "pageno",
            "type": "integer",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/atom"
            }
          }
        }
      }
    },
    "/brands/popular.atom": {
      "get": {
        "description": "Lists all Channel 4 programmes by popularity considering the data gathered \n  within the last 7 days.\n\n  http://api.channel4.com/pmlsd/brands/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/brands/popular.atom?xxxxxxxxxxxxxxxxxxxxxxxx",
        "summary": "Popular Brands Feed",
        "tags": [
          "discoveryresources"
        ],
        "operationId": "Popular_Brands_Feed",
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Popular_Brands_Feed",
        "produces": [],
        "parameters": [
          {
            "$ref": "#/parameters/platform"
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/atom"
            }
          }
        }
      }
    },
    "/brands/popular/page-{pageno}.atom": {
      "get": {
        "description": "Lists all Channel 4 programmes by popularity considering the data gathered \n  within the last 7 days.\n\n  http://api.channel4.com/pmlsd/brands/popular/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/brands/popular.atom?xxxxxxxxxxxxxxxxxxxxxxxx",
        "summary": "Popular Brands Feed(2)",
        "tags": [
          "discoveryresources"
        ],
        "operationId": "Popular_Brands_Feed(2)",
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Popular_Brands_Feed",
        "produces": [],
        "parameters": [
          {
            "$ref": "#/parameters/platform"
          },
          {
            "name": "pageno",
            "type": "integer",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/atom"
            }
          }
        }
      }
    },
    "/categories.atom": {
      "get": {
        "description": "Lists Channel 4 programmes by category (/ tag).\n\n  http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories.atom?xxxxxxxxxxxxxxxxxxxxxxxx",
        "summary": "Categories Landing Feed",
        "tags": [
          "discoveryresources"
        ],
        "operationId": "Categories_Landing_Feed",
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Categories_Landing_Feed",
        "produces": [],
        "parameters": [
          {
            "$ref": "#/parameters/platform"
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/atom"
            }
          }
        }
      }
    },
    "/categories/{category}.atom": {
      "get": {
        "description": "Lists all Channel 4 programmes associated with the specified category (tag).  \n  By default, the programmes are listed in order of Transmission (TX) Date, \n  with the most-recently-transmitted programmes listed first.\n\n  http://api.channel4.com/pmlsd/categories/category.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/animals.atom?xxxxxxxxxxxxxxxxxxxxxxxx",
        "summary": "All Programmes by TX Date",
        "tags": [
          "discoveryresources"
        ],
        "operationId": "All_Programmes_by_TX_Date",
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/All_Programmes_by_TX_Date",
        "produces": [],
        "parameters": [
          {
            "$ref": "#/parameters/platform"
          },
          {
            "name": "category",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/atom"
            }
          }
        }
      }
    },
    "/categories/{category}/channel/{channel}.atom": {
      "get": {
        "description": "Lists all Channel 4 programmes associated with the specified category (tag).  \n  By default, the programmes are listed in order of Transmission (TX) Date, \n  with the most-recently-transmitted programmes listed first.\n\n  http://api.channel4.com/pmlsd/categories/category/channel/[channel].atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/animals.atom?xxxxxxxxxxxxxxxxxxxxxxxx",
        "summary": "All Programmes by TX Date(2)",
        "tags": [
          "discoveryresources"
        ],
        "operationId": "All_Programmes_by_TX_Date(2)",
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/All_Programmes_by_TX_Date",
        "produces": [],
        "parameters": [
          {
            "$ref": "#/parameters/platform"
          },
          {
            "name": "category",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "channel",
            "type": "string",
            "in": "path",
            "required": true,
            "enum": [
              "c4",
              "f4",
              "e4",
              "m4",
              "4m",
              "4s"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/atom"
            }
          }
        }
      }
    },
    "/categories/{category}/derived/ad.atom": {
      "get": {
        "description": "Lists all Channel 4 programmes associated with the specified category (tag).  \n  By default, the programmes are listed in order of Transmission (TX) Date, \n  with the most-recently-transmitted programmes listed first.\n\n  http://api.channel4.com/pmlsd/categories/category/derived/ad.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/animals.atom?xxxxxxxxxxxxxxxxxxxxxxxx",
        "summary": "All Programmes by TX Date(3)",
        "tags": [
          "discoveryresources"
        ],
        "operationId": "All_Programmes_by_TX_Date(3)",
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/All_Programmes_by_TX_Date",
        "produces": [],
        "parameters": [
          {
            "$ref": "#/parameters/platform"
          },
          {
            "name": "category",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/atom"
            }
          }
        }
      }
    },
    "/categories/{category}/page-{pageno}.atom": {
      "get": {
        "description": "Lists all Channel 4 programmes associated with the specified category (tag).  \n  By default, the programmes are listed in order of Transmission (TX) Date, \n  with the most-recently-transmitted programmes listed first.\n\n  http://api.channel4.com/pmlsd/categories/category/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/animals.atom?xxxxxxxxxxxxxxxxxxxxxxxx",
        "summary": "All Programmes by TX Date(4)",
        "tags": [
          "discoveryresources"
        ],
        "operationId": "All_Programmes_by_TX_Date(4)",
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/All_Programmes_by_TX_Date",
        "produces": [],
        "parameters": [
          {
            "$ref": "#/parameters/platform"
          },
          {
            "name": "category",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "pageno",
            "type": "integer",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/atom"
            }
          }
        }
      }
    },
    "/categories/{category}/4od.atom": {
      "get": {
        "description": "Lists all Channel 4oD programmes associated with the specified category \n  (tag).By default, the programmes are listed in order of Transmission (TX) \n  Date, with the most-recently-transmitted programmes listed first.\n\n  http://api.channel4.com/pmlsd/categories/category/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/animals/4oD.atom?xxxxxxxxxxxxxxxxxxxxxxxx",
        "summary": "4oD Programmes by TX Date",
        "tags": [
          "discoveryresources"
        ],
        "operationId": "4oD_Programmes_by_TX_Date",
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Programmes_by_TX_Date",
        "produces": [],
        "parameters": [
          {
            "$ref": "#/parameters/platform"
          },
          {
            "name": "category",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/atom"
            }
          }
        }
      }
    },
    "/categories/{category}/channel/{channel}/4od.atom": {
      "get": {
        "description": "Lists all Channel 4oD programmes associated with the specified category \n  (tag).By default, the programmes are listed in order of Transmission (TX) \n  Date, with the most-recently-transmitted programmes listed first.\n\n  http://api.channel4.com/pmlsd/categories/category/channel/[channel]/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/animals/4oD.atom?xxxxxxxxxxxxxxxxxxxxxxxx",
        "summary": "4oD Programmes by TX Date(2)",
        "tags": [
          "discoveryresources"
        ],
        "operationId": "4oD_Programmes_by_TX_Date(2)",
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Programmes_by_TX_Date",
        "produces": [],
        "parameters": [
          {
            "$ref": "#/parameters/platform"
          },
          {
            "name": "category",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "channel",
            "type": "string",
            "in": "path",
            "required": true,
            "enum": [
              "c4",
              "f4",
              "e4",
              "m4",
              "4m",
              "4s"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/atom"
            }
          }
        }
      }
    },
    "/categories/{category}/derived/ad/4od.atom": {
      "get": {
        "description": "Lists all Channel 4oD programmes associated with the specified category \n  (tag).By default, the programmes are listed in order of Transmission (TX) \n  Date, with the most-recently-transmitted programmes listed first.\n\n  http://api.channel4.com/pmlsd/categories/category/derived/ad/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/animals/4oD.atom?xxxxxxxxxxxxxxxxxxxxxxxx",
        "summary": "4oD Programmes by TX Date(3)",
        "tags": [
          "discoveryresources"
        ],
        "operationId": "4oD_Programmes_by_TX_Date(3)",
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Programmes_by_TX_Date",
        "produces": [],
        "parameters": [
          {
            "$ref": "#/parameters/platform"
          },
          {
            "name": "category",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/atom"
            }
          }
        }
      }
    },
    "/categories/{category}/4od/page-{pageno}.atom": {
      "get": {
        "description": "Lists all Channel 4oD programmes associated with the specified category \n  (tag).By default, the programmes are listed in order of Transmission (TX) \n  Date, with the most-recently-transmitted programmes listed first.\n\n  http://api.channel4.com/pmlsd/categories/category/4od/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/animals/4oD.atom?xxxxxxxxxxxxxxxxxxxxxxxx",
        "summary": "4oD Programmes by TX Date(4)",
        "tags": [
          "discoveryresources"
        ],
        "operationId": "4oD_Programmes_by_TX_Date(4)",
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Programmes_by_TX_Date",
        "produces": [],
        "parameters": [
          {
            "$ref": "#/parameters/platform"
          },
          {
            "name": "category",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "pageno",
            "type": "integer",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/atom"
            }
          }
        }
      }
    },
    "/categories/{category}/4od/popular.atom": {
      "get": {
        "description": "Lists all Channel 4oD most popular brands for the given category within the \n  last 7 days, in order of popularity.\n\n  http://api.channel4.com/pmlsd/categories/category/4od/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/comedy/4od/popular.atom?xxxxxxxxxxxxxxxxxxxxxxxx",
        "summary": "Most Popular Brands Feed",
        "tags": [
          "discoveryresources"
        ],
        "operationId": "Most_Popular_Brands_Feed",
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Most_Popular_Brands_Feed",
        "produces": [],
        "parameters": [
          {
            "$ref": "#/parameters/platform"
          },
          {
            "name": "category",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/atom"
            }
          }
        }
      }
    },
    "/categories/{category}/popular.atom": {
      "get": {
        "description": "Lists all Channel 4oD most popular brands for the given category within the \n  last 7 days, in order of popularity.\n\n  http://api.channel4.com/pmlsd/categories/category/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/comedy/4od/popular.atom?xxxxxxxxxxxxxxxxxxxxxxxx",
        "summary": "Most Popular Brands Feed(2)",
        "tags": [
          "discoveryresources"
        ],
        "operationId": "Most_Popular_Brands_Feed(2)",
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Most_Popular_Brands_Feed",
        "produces": [],
        "parameters": [
          {
            "$ref": "#/parameters/platform"
          },
          {
            "name": "category",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/atom"
            }
          }
        }
      }
    },
    "/categories/{category}/channel/{channel}/4od/popular.atom": {
      "get": {
        "description": "Lists all Channel 4oD most popular brands for the given category within the \n  last 7 days, in order of popularity.\n\n  http://api.channel4.com/pmlsd/categories/category/channel/[channel]/4od/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/comedy/4od/popular.atom?xxxxxxxxxxxxxxxxxxxxxxxx",
        "summary": "Most Popular Brands Feed(3)",
        "tags": [
          "discoveryresources"
        ],
        "operationId": "Most_Popular_Brands_Feed(3)",
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Most_Popular_Brands_Feed",
        "produces": [],
        "parameters": [
          {
            "$ref": "#/parameters/platform"
          },
          {
            "name": "category",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "channel",
            "type": "string",
            "in": "path",
            "required": true,
            "enum": [
              "c4",
              "f4",
              "e4",
              "m4",
              "4m",
              "4s"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/atom"
            }
          }
        }
      }
    },
    "/categories/{category}/derived/ad/4od/popular.atom": {
      "get": {
        "description": "Lists all Channel 4oD most popular brands for the given category within the \n  last 7 days, in order of popularity.\n\n  http://api.channel4.com/pmlsd/categories/category/derived/ad/4od/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/comedy/4od/popular.atom?xxxxxxxxxxxxxxxxxxxxxxxx",
        "summary": "Most Popular Brands Feed(4)",
        "tags": [
          "discoveryresources"
        ],
        "operationId": "Most_Popular_Brands_Feed(4)",
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Most_Popular_Brands_Feed",
        "produces": [],
        "parameters": [
          {
            "$ref": "#/parameters/platform"
          },
          {
            "name": "category",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/atom"
            }
          }
        }
      }
    },
    "/categories/{category}/4od/popular/page-{pageno}.atom": {
      "get": {
        "description": "Lists all Channel 4oD most popular brands for the given category within the \n  last 7 days, in order of popularity.\n\n  http://api.channel4.com/pmlsd/categories/category/4od/popular/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/comedy/4od/popular.atom?xxxxxxxxxxxxxxxxxxxxxxxx",
        "summary": "Most Popular Brands Feed(5)",
        "tags": [
          "discoveryresources"
        ],
        "operationId": "Most_Popular_Brands_Feed(5)",
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Most_Popular_Brands_Feed",
        "produces": [],
        "parameters": [
          {
            "$ref": "#/parameters/platform"
          },
          {
            "name": "category",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "pageno",
            "type": "integer",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/atom"
            }
          }
        }
      }
    },
    "/categories/{category}/4od/title.atom": {
      "get": {
        "description": "Lists all Channel 4oD programmes associated with the specified category \n  (tag), alphanumerically in order of Title.\n\n  http://api.channel4.com/pmlsd/categories/category/4od/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/religion-and-belief/4oD/title.atom?xxxxxxxxxxxxxxxxxxxxxxxx",
        "summary": "4oD Programmes by Title",
        "tags": [
          "discoveryresources"
        ],
        "operationId": "4oD_Programmes_by_Title",
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Programmes_by_Title",
        "produces": [],
        "parameters": [
          {
            "$ref": "#/parameters/platform"
          },
          {
            "name": "category",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/atom"
            }
          }
        }
      }
    },
    "/categories/{category}/channel/{channel}/4od/title.atom": {
      "get": {
        "description": "Lists all Channel 4oD programmes associated with the specified category \n  (tag), alphanumerically in order of Title.\n\n  http://api.channel4.com/pmlsd/categories/category/channel/[channel]/4od/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/religion-and-belief/4oD/title.atom?xxxxxxxxxxxxxxxxxxxxxxxx",
        "summary": "4oD Programmes by Title(2)",
        "tags": [
          "discoveryresources"
        ],
        "operationId": "4oD_Programmes_by_Title(2)",
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Programmes_by_Title",
        "produces": [],
        "parameters": [
          {
            "$ref": "#/parameters/platform"
          },
          {
            "name": "category",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "channel",
            "type": "string",
            "in": "path",
            "required": true,
            "enum": [
              "c4",
              "f4",
              "e4",
              "m4",
              "4m",
              "4s"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/atom"
            }
          }
        }
      }
    },
    "/categories/{category}/derived/ad/4od/title.atom": {
      "get": {
        "description": "Lists all Channel 4oD programmes associated with the specified category \n  (tag), alphanumerically in order of Title.\n\n  http://api.channel4.com/pmlsd/categories/category/derived/ad/4od/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/religion-and-belief/4oD/title.atom?xxxxxxxxxxxxxxxxxxxxxxxx",
        "summary": "4oD Programmes by Title(3)",
        "tags": [
          "discoveryresources"
        ],
        "operationId": "4oD_Programmes_by_Title(3)",
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Programmes_by_Title",
        "produces": [],
        "parameters": [
          {
            "$ref": "#/parameters/platform"
          },
          {
            "name": "category",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/atom"
            }
          }
        }
      }
    },
    "/categories/{category}/4od/title/page-{pageno}.atom": {
      "get": {
        "description": "Lists all Channel 4oD programmes associated with the specified category \n  (tag), alphanumerically in order of Title.\n\n  http://api.channel4.com/pmlsd/categories/category/4od/title/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/religion-and-belief/4oD/title.atom?xxxxxxxxxxxxxxxxxxxxxxxx",
        "summary": "4oD Programmes by Title(4)",
        "tags": [
          "discoveryresources"
        ],
        "operationId": "4oD_Programmes_by_Title(4)",
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Programmes_by_Title",
        "produces": [],
        "parameters": [
          {
            "$ref": "#/parameters/platform"
          },
          {
            "name": "category",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "pageno",
            "type": "integer",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/atom"
            }
          }
        }
      }
    },
    "/categories/{category}/title.atom": {
      "get": {
        "description": "Lists all Channel 4 programmes associated with the specified category (tag), \n  alphanumerically in order of Title.\n\n  http://api.channel4.com/pmlsd/categories/category/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/history/title.atom?xxxxxxxxxxxxxxxxxxxxxxxx",
        "summary": "All Programmes by Title",
        "tags": [
          "discoveryresources"
        ],
        "operationId": "All_Programmes_by_Title",
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/All_Programmes_by_Title",
        "produces": [],
        "parameters": [
          {
            "$ref": "#/parameters/platform"
          },
          {
            "name": "category",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/atom"
            }
          }
        }
      }
    },
    "/categories/{category}/channel/{channel}/title.atom": {
      "get": {
        "description": "Lists all Channel 4 programmes associated with the specified category (tag), \n  alphanumerically in order of Title.\n\n  http://api.channel4.com/pmlsd/categories/category/channel/[channel]/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/history/title.atom?xxxxxxxxxxxxxxxxxxxxxxxx",
        "summary": "All Programmes by Title(2)",
        "tags": [
          "discoveryresources"
        ],
        "operationId": "All_Programmes_by_Title(2)",
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/All_Programmes_by_Title",
        "produces": [],
        "parameters": [
          {
            "$ref": "#/parameters/platform"
          },
          {
            "name": "category",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "channel",
            "type": "string",
            "in": "path",
            "required": true,
            "enum": [
              "c4",
              "f4",
              "e4",
              "m4",
              "4m",
              "4s"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/atom"
            }
          }
        }
      }
    },
    "/categories/{category}/derived/ad/title.atom": {
      "get": {
        "description": "Lists all Channel 4 programmes associated with the specified category (tag), \n  alphanumerically in order of Title.\n\n  http://api.channel4.com/pmlsd/categories/category/derived/ad/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/history/title.atom?xxxxxxxxxxxxxxxxxxxxxxxx",
        "summary": "All Programmes by Title(3)",
        "tags": [
          "discoveryresources"
        ],
        "operationId": "All_Programmes_by_Title(3)",
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/All_Programmes_by_Title",
        "produces": [],
        "parameters": [
          {
            "$ref": "#/parameters/platform"
          },
          {
            "name": "category",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/atom"
            }
          }
        }
      }
    },
    "/categories/{category}/title/page-{pageno}.atom": {
      "get": {
        "description": "Lists all Channel 4 programmes associated with the specified category (tag), \n  alphanumerically in order of Title.\n\n  http://api.channel4.com/pmlsd/categories/category/title/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/history/title.atom?xxxxxxxxxxxxxxxxxxxxxxxx",
        "summary": "All Programmes by Title(4)",
        "tags": [
          "discoveryresources"
        ],
        "operationId": "All_Programmes_by_Title(4)",
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/All_Programmes_by_Title",
        "produces": [],
        "parameters": [
          {
            "$ref": "#/parameters/platform"
          },
          {
            "name": "category",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "pageno",
            "type": "integer",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/atom"
            }
          }
        }
      }
    },
    "/collections/{collection_name}/4od.atom": {
      "get": {
        "description": "Collections are editorially controlled groups of brands, series, episodes or \n  other collections used for promotion and discovery of content. A SIMPLE \n  collection can contain an assortment of Brands, Series, Episodes or Freeform \n  items. A GROUP collection contains other collections.\n\n  http://api.channel4.com/pmlsd/collections/collection_name/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/collections/4od-home-promo/4od.atom?xxxxxxxxxxxxxxxxxxxxxxxx",
        "summary": "Collections Feed",
        "tags": [
          "discoveryresources"
        ],
        "operationId": "Collections_Feed",
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Collections_Feed",
        "produces": [],
        "parameters": [
          {
            "$ref": "#/parameters/platform"
          },
          {
            "name": "collection_name",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/atom"
            }
          }
        }
      }
    },
    "/collections/{collection_name}.atom": {
      "get": {
        "description": "Collections are editorially controlled groups of brands, series, episodes or \n  other collections used for promotion and discovery of content. A SIMPLE \n  collection can contain an assortment of Brands, Series, Episodes or Freeform \n  items. A GROUP collection contains other collections.\n\n  http://api.channel4.com/pmlsd/collections/collection_name.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/collections/4od-home-promo/4od.atom?xxxxxxxxxxxxxxxxxxxxxxxx",
        "summary": "Collections Feed(2)",
        "tags": [
          "discoveryresources"
        ],
        "operationId": "Collections_Feed(2)",
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Collections_Feed",
        "produces": [],
        "parameters": [
          {
            "$ref": "#/parameters/platform"
          },
          {
            "name": "collection_name",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/atom"
            }
          }
        }
      }
    },
    "/collections/{collection_name}/flattened/4od.atom": {
      "get": {
        "description": "The Flattened Collections Feed is only applicable for GROUP collections and \n  its purpose is mainly return 3 items (BRAND, SERIES or EPSIODE) of each of \n  the simple collections assigned to the GROUP.\n\n  http://api.channel4.com/pmlsd/collections/collection_name/flattened/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/collections/4od-home-promo/flattened/4od.atom?xxxxxxxxxxxxxxxxxxxxxxxx",
        "summary": "Flattened Collection Feed",
        "tags": [
          "discoveryresources"
        ],
        "operationId": "Flattened_Collection_Feed",
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Flattened_Collection_Feed",
        "produces": [],
        "parameters": [
          {
            "$ref": "#/parameters/platform"
          },
          {
            "name": "collection_name",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/atom"
            }
          }
        }
      }
    },
    "/collections/{collection_name}/flattened.atom": {
      "get": {
        "description": "The Flattened Collections Feed is only applicable for GROUP collections and \n  its purpose is mainly return 3 items (BRAND, SERIES or EPSIODE) of each of \n  the simple collections assigned to the GROUP.\n\n  http://api.channel4.com/pmlsd/collections/collection_name/flattened.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/collections/4od-home-promo/flattened/4od.atom?xxxxxxxxxxxxxxxxxxxxxxxx",
        "summary": "Flattened Collection Feed(2)",
        "tags": [
          "discoveryresources"
        ],
        "operationId": "Flattened_Collection_Feed(2)",
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Flattened_Collection_Feed",
        "produces": [],
        "parameters": [
          {
            "$ref": "#/parameters/platform"
          },
          {
            "name": "collection_name",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/atom"
            }
          }
        }
      }
    },
    "/coming-soon.atom": {
      "get": {
        "description": "Coming Soon feed display a list of episodes coming soon to linear TV so that \n  I can promote new Channel 4 content.\n\n  http://api.channel4.com/pmlsd/coming-soon.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/coming-soon.atom?xxxxxxxxxxxxxxxxxxxxxxxx",
        "summary": "Coming Soon feed",
        "tags": [
          "metadataresources"
        ],
        "operationId": "Coming_Soon_feed",
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/metadataresources/Coming_Soon_feed",
        "produces": [],
        "parameters": [
          {
            "$ref": "#/parameters/platform"
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/atom"
            }
          }
        }
      }
    },
    "/coming-soon/{category}.atom": {
      "get": {
        "description": "Coming Soon feed display a list of episodes coming soon to linear TV so that \n  I can promote new Channel 4 content.\n\n  http://api.channel4.com/pmlsd/coming-soon/[category].atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/coming-soon.atom?xxxxxxxxxxxxxxxxxxxxxxxx",
        "summary": "Coming Soon feed(2)",
        "tags": [
          "metadataresources"
        ],
        "operationId": "Coming_Soon_feed(2)",
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/metadataresources/Coming_Soon_feed",
        "produces": [],
        "parameters": [
          {
            "$ref": "#/parameters/platform"
          },
          {
            "name": "category",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/atom"
            }
          }
        }
      }
    },
    "/programme/{programme-id}.atom": {
      "get": {
        "description": "A feed containing all long-form content currently or previously available \n  for a specified Programme Id. The entries for the Programme feed contain \n  references to long-form assets for each platform.\n\n  http://api.channel4.com/pmlsd/programme/[programme-id].atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/programme/33881-001/4od.atom?xxxxxxxxxxxxxxxxxxxxxxxx",
        "summary": "Programme Feed",
        "tags": [
          "metadataresources"
        ],
        "operationId": "Programme_Feed",
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/metadataresources/Programme_Feed",
        "produces": [],
        "parameters": [
          {
            "$ref": "#/parameters/platform"
          },
          {
            "name": "programme-id",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/atom"
            }
          }
        }
      }
    },
    "/search.atom": {
      "get": {
        "description": "Lists all Channel 4 programmes where title (brand name) matching the search \n  term. Matches are made from the beginning of individual words in the title.\n\n  http://api.channel4.com/pmlsd/search.atom?q=search-term&apikey=xxx\n\n  http://api.channel4.com/pmlsd/search.atom?q=the+it+crowd&xxxxxxxxxxxxxxxxxxxxxxxx",
        "summary": "Search Feed",
        "tags": [
          "discoveryresources"
        ],
        "operationId": "Search_Feed",
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Search_Feed",
        "produces": [],
        "parameters": [
          {
            "$ref": "#/parameters/platform"
          },
          {
            "name": "q",
            "type": "string",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/atom"
            }
          }
        }
      }
    },
    "/search/{q}.atom": {
      "get": {
        "description": "Lists all Channel 4 programmes where title (brand name) matching the search \n  term. Matches are made from the beginning of individual words in the title.\n\n  http://api.channel4.com/pmlsd/search/search-term.atom?apikey=xxx\n\n  http://api.channel4.com/pmlsd/search.atom?q=the+it+crowd&xxxxxxxxxxxxxxxxxxxxxxxx",
        "summary": "Search Feed(2)",
        "tags": [
          "discoveryresources"
        ],
        "operationId": "Search_Feed(2)",
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Search_Feed",
        "produces": [],
        "parameters": [
          {
            "$ref": "#/parameters/platform"
          },
          {
            "name": "q",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/atom"
            }
          }
        }
      }
    },
    "/search/page-{pageno}.atom": {
      "get": {
        "description": "Lists all Channel 4 programmes where title (brand name) matching the search \n  term. Matches are made from the beginning of individual words in the title.\n\n  http://api.channel4.com/pmlsd/search/page-{pageno}.atom?q=search-term&apikey=xxx\n\n  http://api.channel4.com/pmlsd/search.atom?q=the+it+crowd&xxxxxxxxxxxxxxxxxxxxxxxx",
        "summary": "Search Feed(3)",
        "tags": [
          "discoveryresources"
        ],
        "operationId": "Search_Feed(3)",
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Search_Feed",
        "produces": [],
        "parameters": [
          {
            "$ref": "#/parameters/platform"
          },
          {
            "name": "q",
            "type": "string",
            "in": "query",
            "required": true
          },
          {
            "name": "pageno",
            "type": "integer",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/atom"
            }
          }
        }
      }
    },
    "/tv-listings/daily/{yyyy}/{mm}/{dd}.atom": {
      "get": {
        "description": "EPG Information of daily broadcast content aired per channels, according to \n  broadcast date\n\n  http://api.channel4.com/pmlsd/tv-listings/daily/[yyyy]/[mm]/[dd].atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/tv-listings/daily/2010/11/28.atom?xxxxxxxxxxxxxxxxxxxxxxxx",
        "summary": "TV Listings Feed",
        "tags": [
          "discoveryresources"
        ],
        "operationId": "TV_Listings_Feed",
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/TV_Listings_Feed",
        "produces": [],
        "parameters": [
          {
            "$ref": "#/parameters/platform"
          },
          {
            "name": "yyyy",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "mm",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "dd",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/atom"
            }
          }
        }
      }
    },
    "/tv-listings/daily/{yyyy}/{mm}/{dd}/{channel}.atom": {
      "get": {
        "description": "EPG Information of daily broadcast content aired per channels, according to \n  broadcast date\n\n  http://api.channel4.com/pmlsd/tv-listings/daily/[yyyy]/[mm]/[dd]/[channel].atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/tv-listings/daily/2010/11/28.atom?xxxxxxxxxxxxxxxxxxxxxxxx",
        "summary": "TV Listings Feed(2)",
        "tags": [
          "discoveryresources"
        ],
        "operationId": "TV_Listings_Feed(2)",
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/TV_Listings_Feed",
        "produces": [],
        "parameters": [
          {
            "$ref": "#/parameters/platform"
          },
          {
            "name": "yyyy",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "mm",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "dd",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "channel",
            "type": "string",
            "in": "path",
            "required": true,
            "enum": [
              "c4",
              "f4",
              "e4",
              "m4",
              "4m",
              "4s"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/atom"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "atom": {
      "type": "object",
      "properties": {
        "feed": {
          "$ref": "#/definitions/feed"
        }
      },
      "required": [
        "feed"
      ],
      "additionalProperties": true
    },
    "feed": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique identifier of this feed"
        },
        "title": {
          "type": "string",
          "description": "Channel 4 EPG for [date selected]"
        },
        "link@self": {
          "type": "string",
          "format": "uri",
          "description": "URL of current page / feed"
        },
        "link@previous": {
          "type": "string",
          "format": "uri",
          "description": "Link to previous day's page / feed (if available)"
        },
        "link@next": {
          "type": "string",
          "format": "uri",
          "description": "Link to next day's page / feed (if available)"
        },
        "author": {
          "type": "object",
          "properties": {
            "name": {
              "type": "string",
              "description": "Name of author / owner"
            }
          }
        },
        "updated": {
          "type": "string",
          "format": "date-time",
          "description": "Date & time feed rendered"
        },
        "logo": {
          "type": "string",
          "format": "uri",
          "description": "Default Image URL"
        },
        "generator": {
          "type": "string",
          "description": "Identifies the agent used to generate the feed"
        },
        "generator@version": {
          "type": "number",
          "description": "Identifies the version of the agent used to generate the feed"
        },
        "dc:relation.platformClientVersion": {
          "type": "number",
          "description": "Identifies the version of the specified platform client application compatible with this feed."
        },
        "link@up": {
          "type": "string",
          "format": "uri",
          "description": "URL to parent feed"
        },
        "link@alternate": {
          "type": "string",
          "format": "uri",
          "description": "URL to HTML version, i.e., player page"
        },
        "dc:relation.BrandFlattened": {
          "type": "boolean",
          "description": "Boolean indicating whether there is no Series -> Episode structure in this brand (\"false\" indicating that there is such a structure)"
        },
        "dc:relation.presentationBrand": {
          "type": "string",
          "description": "The presentation brand"
        },
        "dc:relation.BrandWebSafeTitle": {
          "type": "string",
          "description": "Title of the brand safe for web linking (no whitespaces, no special chars...)"
        },
        "dc:relation.ProgrammeType": {
          "type": "string",
          "description": "Displays metadata code (as detailed in the following table) in a meaningful way on the application according to the specified programme type."
        },
        "dc:relation.4oDSeriesCount": {
          "type": "integer",
          "description": "Number of available 4oD series for this Brand"
        },
        "dc:relation.4oDProgrammeCount": {
          "type": "integer",
          "description": "Number of available brands in this category beginning with this letter (4oD only)"
        },
        "dc:relation.New4oDSeriesAvailable": {
          "type": "boolean",
          "description": "Flags that notifies clients when a Brand contains NEW series."
        },
        "link@related": {
          "type": "string",
          "format": "uri",
          "description": "4oD programmes in category by title"
        },
        "fh:complete": {
          "type": "string",
          "description": "Presence of this element indicates no pagination"
        },
        "dc:relation.AllProgrammeCount": {
          "type": "integer",
          "description": "Number of available brands in this category beginning with this letter (all programmes)"
        },
        "subtitle": {
          "type": "string",
          "description": "The synopsis of the series."
        },
        "link@related (Episode Guide)": {
          "type": "string",
          "format": "uri",
          "description": "URL to Episode Guide feed, if available"
        },
        "link@related (4oD)": {
          "type": "string",
          "format": "uri",
          "description": "URL to 4oD feed, if available"
        },
        "link@related (Clips)": {
          "type": "string",
          "format": "uri",
          "description": "URL to short-form video feed for this episode, if available"
        },
        "category (primary)": {
          "type": "string",
          "description": "Primary category (brand must have ONE)"
        },
        "category (secondary)": {
          "type": "string",
          "description": "Secondary category (brand may have any number)"
        },
        "dc:relation.BrandTitle": {
          "type": "string",
          "description": "Title of brand"
        },
        "dc:relation.comingSoonTo4oD": {
          "type": "string",
          "description": "If the brand is coming to be available on 4oD soon this empty element should be included."
        },
        "link@related (4oD Episode)": {
          "type": "string",
          "format": "uri",
          "description": "URL to HTML version of 4oD page for full episode, if available"
        },
        "dc:relation.firstTXDate": {
          "type": "string",
          "format": "date-time",
          "description": "Date of first broadcast (optional). This is based on EPG or, when EPG data is not available for the episode, it can be set editorially (significant date)"
        },
        "dc:relation.firstTXChannel": {
          "type": "string",
          "description": "First TX channel information for this episode"
        },
        "dc:relation.lastTXDate": {
          "type": "string",
          "format": "date-time",
          "description": "Date of last broadcast (optional). This is based on EPG ignoring repeats and giving preference to the channel that the brand is primarily targeted at (preferred channel)"
        },
        "dc:relation.lastTXChannel": {
          "type": "string",
          "description": "Channel of last broadcast (optional). This is based on EPG ignoring repeats and giving preference to the channel that the brand is primarily targeted at (preferred channel)"
        },
        "dc:relation.SeriesNumber": {
          "type": "integer",
          "description": "The series to which this episode belongs"
        },
        "dc:relation.EpisodeNumber": {
          "type": "integer",
          "description": "The episode number within the series"
        },
        "dc:relation.Sharable": {
          "type": "boolean",
          "description": "Boolean value indicating if clips for this brand are sharable"
        },
        "media:group": {
          "type": "object",
          "properties": {
            "media:player": {
              "type": "string",
              "format": "uri",
              "description": "URL to media-player version of episode"
            },
            "media:thumbnail": {
              "type": "string",
              "description": "URL to medium-sized image of this episode"
            },
            "media:rating": {
              "type": "string",
              "description": "Flag to show whether episode is suitable for adults only (\"adult\") or for all viewers (\"nonadult\")"
            },
            "media:copyright": {
              "type": "string",
              "description": "Link to copyright / T&C information"
            },
            "media:restriction": {
              "type": "string",
              "description": "Restriction flag (\"allow\") and list of country or state codes where episode is accessible to website users"
            },
            "media:rights": {
              "type": "string",
              "description": "Status of media rights under which Channel 4 provides episode content"
            },
            "media:category": {
              "type": "string",
              "description": "Defines the type of short-form item. Its value can be one of the next: EXTRACT, PREVIEW, EXTRA, TRAILER"
            },
            "media:content": {
              "type": "object",
              "properties": {
                "media:player": {
                  "type": "string",
                  "format": "uri",
                  "description": "URL to media-player version of episode"
                },
                "media:thumbnail": {
                  "type": "string",
                  "description": "URL to medium-sized image of this episode"
                },
                "media:rating": {
                  "type": "string",
                  "description": "Flag to show whether episode is suitable for adults only (\"adult\") or for all viewers (\"nonadult\")"
                },
                "media:copyright": {
                  "type": "string",
                  "description": "Link to copyright / T&C information"
                },
                "media:restriction": {
                  "type": "string",
                  "description": "Restriction flag (\"allow\") and list of country or state codes where episode is accessible to website users"
                },
                "media:rights": {
                  "type": "string",
                  "description": "Status of media rights under which Channel 4 provides episode content"
                },
                "dc:relation.requestType": {
                  "type": "string",
                  "enum": [
                    "ARCHIVE",
                    "CATCHUP"
                  ],
                  "description": "Indicates catchup or archive content"
                },
                "dc:relation.deliveryType": {
                  "type": "string",
                  "enum": [
                    "STREAM",
                    "DOWNLOAD"
                  ],
                  "description": "Indicates STREAMING or FOR DOWNLOAD content"
                },
                "dcterms:available": {
                  "type": "string",
                  "description": "Start date, end date and date/time format for the period of time when episode is available.  (This feed would not be available if the current date is outside the start and end dates.)"
                },
                "dc:relation.AgeRating": {
                  "type": "integer",
                  "description": "Channel 4-specific recommended lower age-limit for viewers (0, 16 or 18)"
                },
                "dc:relation.Guidance": {
                  "type": "string",
                  "description": "Channel 4-specific warning text about specific disturbing content, adult humour, nudity, etc., if applicable"
                },
                "dc:relation.Subtitles": {
                  "type": "boolean",
                  "description": "Boolean indicating if subtitles are available for this episode"
                },
                "dc:relation.AudioDescription": {
                  "type": "boolean",
                  "description": "Boolean indicating if an audio description is available for this episode"
                },
                "dc:relation.Duration": {
                  "type": "string",
                  "description": "Length in minutes and seconds - does not include ad breaks"
                }
              }
            }
          }
        },
        "dcterms:available": {
          "type": "string",
          "description": "Start date, end date and date/time format for the period of time when episode is available.  (This feed would not be available if the current date is outside the start and end dates.)"
        },
        "dc:relation.AgeRating": {
          "type": "integer",
          "description": "Channel 4-specific recommended lower age-limit for viewers (0, 16 or 18)"
        },
        "dc:relation.Guidance": {
          "type": "string",
          "description": "Channel 4-specific warning text about specific disturbing content, adult humour, nudity, etc., if applicable"
        },
        "dc:relation.Duration": {
          "type": "string",
          "description": "Length in minutes and seconds - does not include ad breaks"
        },
        "dc:relation.ExternalVideoId": {
          "type": "string",
          "description": "Clip Asset_id value from the Clip table (a.k.a. Brightcode id)."
        },
        "dc:relation.CategoryType": {
          "type": "string",
          "description": "Type to which the category belongs (if applicable).(Valid values are 'Channel', 'Display' or 'None'.)"
        },
        "dc:relation.CategoryOrder": {
          "type": "integer",
          "description": "Enumerated order of category within its type(e.g., 'Channel' might have Food=1, More4=2, etc.)(Appears in feed only if CategoryType<>'None'.)"
        },
        "Entry Elements": {
          "type": "string",
          "description": "Element Description Example Value id ID containing Brand Web Safe Name tag:www.channel4.com,2009:/brand/inside-natures-giants title Programme's Brand Name Inside Nature's Giants summary Synopsis of this brand The award-winning series that gets under the skin of the largest animals on the planet. Most wildlife documentaries show how animals behave, but by exploring their anatomy, Inside Nature's Giants reveals how these creatures really work. updated Date and time element last updated 2010-10-18T10:08:44.295Z dc:relation.sortLetter  Starting letter for this programme I dc:relation.ProgrammeType  Displays metadata code (as detailed in the following table) in a meaningful way on the application according to the specified programme type. SSU dc:date.TXDate  Transmission date of the programme 2010-10-18T10:30:00.000Z media:content / media:thumbnail URL to medium-sized image of this brand url=\"http://www.channel4.com/assets/programmes/images/inside-natures-giants/7eb0ec03-1321-4532-bf51-cb2af0d9d528_145x82.jpg\" height=\"82\" width=\"145\" link@alternate URL to HTML version of brand http://www.channel4.com/programmes/inside-natures-giants link@self URL to the Channel 4 XML feed for this brand http://api.channel4.com/pmlsd/inside-natures-giants.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx link@related (Official Site) URL to the brand's official site, if available link@related (4oD) URL to 4oD feed, if available (self-referential in 4oD feeds) http://api.channel4.com/pmlsd/inside-natures-giants/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx link@related (Clips) URL to short-form video feed, if available http://api.channel4.com/pmlsd/inside-natures-giants/video.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx link@related (Episode Guide) URL to Episode Guide feed, if available http://api.channel4.com/pmlsd/inside-natures-giants/episode-guide.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx"
        },
        "dc:relation.Synopsis": {
          "type": "string",
          "description": "Summary of this feed"
        },
        "media:thumbnail": {
          "type": "object",
          "properties": {
            "media:thumbnail": {
              "type": "string",
              "description": "URL to medium-sized image of this episode"
            }
          }
        },
        "Link@Related title=\"4oD\"": {
          "type": "string",
          "format": "uri",
          "description": "URL to Brand 4oD feed, if available"
        },
        "dc:relation.resourceType": {
          "type": "string",
          "description": "The type of the entry"
        },
        "summary": {
          "type": "string",
          "description": "Synopsis of episode"
        },
        "dc:relation.programmeId": {
          "type": "string",
          "description": "Indicates the contract and programme numbers"
        },
        "dc:relation.RelatedEntryId": {
          "type": "string",
          "description": "The episode guide entry related to this episode"
        },
        "dc:date.TXDate": {
          "type": "string",
          "format": "date-time",
          "description": "First TX date information for this episode"
        },
        "dc:relation.TXChannel": {
          "type": "string",
          "description": "First TX channel information for this episode"
        },
        "dc:relation.Subtitles": {
          "type": "boolean",
          "description": "Boolean indicating if subtitles are available for this episode"
        },
        "dc:relation.AudioDescription": {
          "type": "boolean",
          "description": "Boolean indicating if an audio description is available for this episode"
        },
        "dc:relation.LoginRequired": {
          "type": "boolean",
          "description": "Boolean indicating if the user has to be logged-in in order to play this episode."
        },
        "dc:date.firstTXDate": {
          "type": "string",
          "format": "date-time",
          "description": "First TX date information for this episode"
        },
        "dc:relation.ParentCollectionId": {
          "type": "string",
          "description": "The ID of the Parent Collection where the resource is assigned to."
        },
        "dc:relation.TotalResults": {
          "type": "integer",
          "description": "Number of entries what match the search-term"
        },
        "dc:relation.StartOffset": {
          "type": "integer",
          "description": ""
        }
      },
      "additionalProperties": true
    },
    "entry": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "ID of the entry"
        },
        "title": {
          "type": "string",
          "description": "Episode Title. If available on 4oD then the 4oD episode title is returned. If not, then the title attributed to the slot is returned. It is possible for these to be different"
        },
        "updated": {
          "type": "string",
          "format": "date-time",
          "description": "Date & time episode last updated"
        },
        "summary": {
          "type": "string",
          "description": "Synopsis of this episode"
        },
        "dc:relation.BrandTitle": {
          "type": "string",
          "description": "Title of brand"
        },
        "dcterms:available": {
          "type": "string",
          "description": "Start date, end date and date / time format for the period of time when episode is available on 4oD. This element is not returned if the programme is not currently available on 4oD."
        },
        "dc:relation.SeriesNumber": {
          "type": "integer",
          "description": "The series to which this episode belongs."
        },
        "dc:relation.EpisodeNumber": {
          "type": "integer",
          "description": "The episode number within the series."
        },
        "dc:relation.AgeRating": {
          "type": "integer",
          "description": "Channel 4-specific recommended lower age-limit for viewers (0, 16 or 18)"
        },
        "dc:relation.Guidance": {
          "type": "string",
          "description": "Channel 4-specific warning text about specific disturbing content, adult humour, nudity, etc., if applicable"
        },
        "dc:date.TXDate": {
          "type": "string",
          "format": "date-time",
          "description": "If this programme is available on 4oD then this element indicates the broadcast date/time of the episode selected for 4oD. If the programme is not on 4oD then this element is omitted.(Indicates whether pre- or post-watershed)"
        },
        "dc:relation.TXChannel": {
          "type": "string",
          "description": "If this programme is available on 4oD then this element indicates the broadcast channel that the episode selected for 4oD. If the programme is not on 4oD then this element is omitted."
        },
        "dc:relation.Subtitles": {
          "type": "boolean",
          "description": "Boolean indicating if subtitles are available for this episode"
        },
        "dc:relation.AudioDescription": {
          "type": "boolean",
          "description": "Boolean indicating if an audio description is available for this episode"
        },
        "dc:relation.Duration": {
          "type": "string",
          "description": "Length in minutes and seconds - does not include ad breaks"
        },
        "link@alternate": {
          "type": "string",
          "format": "uri",
          "description": "URL to HTML version of episode (if available)"
        },
        "link@related": {
          "type": "string",
          "format": "uri",
          "description": "URL of ATOM feed of current episode"
        },
        "media:group": {
          "type": "object",
          "properties": {
            "media:player": {
              "type": "string",
              "format": "uri",
              "description": "URL to 4oD media-player version of episode (if available)"
            },
            "media:thumbnail": {
              "type": "string",
              "description": "URL to 4oD medium-sized image of this episode (if available)"
            },
            "media:rating": {
              "type": "string",
              "description": "Flag to show whether the 4oD version of the episode is suitable for adults only (\"adult\") or for all viewers (\"nonadult\") (if available)"
            },
            "media:copyright": {
              "type": "string",
              "description": "Link to 4oD  copyright / T&C information (if available)"
            },
            "media:restriction": {
              "type": "string",
              "description": "Restriction flag (\"allow\") and list of country or state codes where 4oD episode is accessible to website users (if available)"
            },
            "media:rights": {
              "type": "string",
              "description": "Status of 4oD media rights under which Channel 4 provides episode content (if available)"
            },
            "media:content": {
              "type": "object",
              "properties": {
                "media:player": {
                  "type": "string",
                  "format": "uri",
                  "description": "URL to media-player version of episode"
                },
                "media:thumbnail": {
                  "type": "string",
                  "description": "URL to medium-sized image of this episode"
                },
                "media:rating": {
                  "type": "string",
                  "description": "Flag to show whether episode is suitable for adults only (\"adult\") or for all viewers (\"nonadult\")"
                },
                "media:copyright": {
                  "type": "string",
                  "description": "Link to copyright / T&C information"
                },
                "media:restriction": {
                  "type": "string",
                  "description": "Restriction flag (\"allow\") and list of country or state codes where episode is accessible to website users"
                },
                "media:rights": {
                  "type": "string",
                  "description": "Status of media rights under which Channel 4 provides episode content"
                },
                "dc:relation.requestType": {
                  "type": "string",
                  "enum": [
                    "ARCHIVE",
                    "CATCHUP"
                  ],
                  "description": "Indicates catchup or archive content"
                },
                "dc:relation.deliveryType": {
                  "type": "string",
                  "enum": [
                    "STREAM",
                    "DOWNLOAD"
                  ],
                  "description": "Indicates STREAMING or FOR DOWNLOAD content"
                },
                "dcterms:available": {
                  "type": "string",
                  "description": "Start date, end date and date/time format for the period of time when episode is available.  (This feed would not be available if the current date is outside the start and end dates.)"
                },
                "dc:relation.AgeRating": {
                  "type": "integer",
                  "description": "Channel 4-specific recommended lower age-limit for viewers (0, 16 or 18)"
                },
                "dc:relation.Guidance": {
                  "type": "string",
                  "description": "Channel 4-specific warning text about specific disturbing content, adult humour, nudity, etc., if applicable"
                },
                "dc:relation.Subtitles": {
                  "type": "boolean",
                  "description": "Boolean indicating if subtitles are available for this episode"
                },
                "dc:relation.AudioDescription": {
                  "type": "boolean",
                  "description": "Boolean indicating if an audio description is available for this episode"
                },
                "dc:relation.Duration": {
                  "type": "string",
                  "description": "Length in minutes and seconds - does not include ad breaks"
                }
              }
            },
            "media:category": {
              "type": "string",
              "description": "Defines the type of short-form item."
            }
          }
        },
        "dc:relation.ProgrammeType": {
          "type": "string",
          "description": "Displays metadata code (as detailed in the following table) in a meaningful way on the application according to the specified programme type."
        },
        "dc:relation.BrandWebsafeTitle": {
          "type": "string",
          "description": "The associated brand web-safe title"
        },
        "dc:relation.programmeId": {
          "type": "string",
[...]
